/* basic formatting for browser */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f); /* it will create the gradient color on whole webpage */
    padding: 10px; /* from all the sides */
}

/* first, let's do heading and image of todo list */
.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px; /* 100 from top, left right auto, 20 from botton */
    padding: 40px 30px 70px; /* 40 from top, 30 from left right and 70 from bottom */
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex; /* because we have to align the icon and text */
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px; /* so that there's space between icon and the text */
}

/* now do search button */
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

/* let's add css for the input field */
input {
    flex: 1; /*so it will take the full width */
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

/* now let's add css for the 'Add' button */
button {
    border: none;
    outline: none;
    padding: 16px 50px; /* 16 from top and bottom, and left right 50 */
    background: #ff5945;
    color: #fff; /* this will be the button text color */
    font-size: 16px;
    cursor: pointer; 
    border-radius: 40px;
}

/* styling tasks list */
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px; 
    user-select: none;
    cursor: pointer;
    position: relative;
}

/* now add 'Circle' in front of all the list items*/
ul li::before { /* using sudo element before */
    content: '';
    position: absolute; /* as here we are adding position 'absolute', set position to 'relative' in above one */
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

/* working with class checked of list item */
ul li.checked {
    color: #555;
    text-decoration: line-through; /* to add strike through to the task 1 line */
}

/* now add another icon here of 'marked checked' 'tick one' to same task */
ul li.checked::before { /*again using sudo element 'before' */
    background-image: url(images/checked.png); /* this will mard checked to the tast */
}

/* Right now these tasks are showing by default, we have to hide them so that they only show when clicked */
/* so comment all lines of list in ul, and add JavaScript */

/* writing CSS for span tag's 'cross icon' */
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

/* adding hover effect on the cross icon */
ul li span:hover {
    background: #edeef0;
}